{
	"extends": [
		"eslint:recommended",
		"plugin:@sap/cds/recommended"
	],
	"env": {
		"node": true,
		"es6": true,
		"mocha": true
	},
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"ignorePatterns": [
		"gen",
		"node_modules",
		"resources",
		"*.csv"
	],
	"globals": {
		"SELECT": true,
		"INSERT": true,
		"UPDATE": true,
		"DELETE": true,
		"CREATE": true,
		"DROP": true,
		"cds": true,
		"cdsx": true
	},
	"rules": {
		"@sap/cds/no-db-keywords": "off",
		"@sap/cds/min-node-version": "warn",
		"@sap/cds/start-elements-lowercase": "warn",
		"@sap/cds/start-entities-uppercase": "warn",
		"semi": "error",
		"no-extra-semi": "warn",
		"curly": "warn",
		"quotes": [
			"error",
			"double",
			{
				"allowTemplateLiterals": true
			}
		],
		"eqeqeq": "error",
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-console": "error",
		"space-before-blocks": "warn",
		"spaced-comment": "warn",
		"no-var": "error",
		"require-atomic-updates": "off",
		"camelcase": [
			"error",
			{
				"allow": [
					"^VH_",
					"^SH_",
					"_ID$"
				]
			}
		],
		"new-cap": [
			"warn",
			{
				"capIsNewExceptionPattern": "^UPDATE"
			}
		],
		"complexity": [
			"error",
			11
		],
		"consistent-return": "warn",
		"no-unused-expressions": "warn",
		"brace-style": [
			"warn",
			"1tbs"
		],
		"max-len": [
			"error",
			{
				"code": 90
			}
		],
		"max-nested-callbacks": [
			"warn",
			3
		],
		"max-params": [
			"error",
			3
		],
		"max-statements": [
			"error",
			20
		],
		"no-multiple-empty-lines": [
			"warn",
			{
				"max": 2
			}
		],
		"no-nested-ternary": "warn",
		"no-plusplus": "warn",
		"no-unused-vars": [
			"warn",
			{
				"args": "all",
				"argsIgnorePattern": "^_"
			}
		],
		"no-multi-spaces": "warn",
		"require-await": "warn",
		"yoda": [
			"error",
			"never"
		]
	}
}